body{
    background-color: #00b4aa;
}
.mg-15{
    margin-left: 15px;
}
.mg-top{
    margin-top: 15px;
}
.introduce{
    text-align: center;
    font-size: 30px;
}

.container{
    width: 500px;
    height: 1075px;
    background-color: white;
    margin: 0 auto;
    border-radius: 5px;
}
.container_name{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
    margin-bottom: 7px;
}
.container_input{
    margin-left: 10px;
    width: 470px;
    height: 30px;
}

p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}
#content{
    margin-left: 10px;
    margin-top: 15px;
}
.submit{
    background-color: #00b4aa ;
    border: none ;
    border-radius: 3px;
    font-size: 18px;
    width: 476px;
}
.submit__button{
    margin-top: 15px;
    
}
.submit:hover{
    color: aliceblue;
    background-color: aquamarine;
}